.container{
    padding: 0px 12px;
    margin: 0px 99.6px;
}
.firstContainer .headerCart{
    margin-left: 812px;
}
.headerCart{
    width: 484px;
    height: 172px;
    padding: 48px;
    border-radius: 4px;
    background-color: #f6e1c5;
}
.headerCart h2{
    font-size: 16px;
}
.headerCart h1{
    margin-top: 5px;
    font-size: 38px;
}
img{
    margin: 0px 198px;
    border-radius: 4px;
    position: relative;
    top: -48px;
    z-index: -1;
}
.footerCart{
    padding: 48px;
    background-color: #f6e1c5;
    border-radius: 4px;
    width: 768px;
    height: 208px;
    position: relative;
    top: -96px;
}
.footerCart p{
    line-height: 28px;
}
.secondContainer .footerCart{
    margin-left: 528px;
}
.thirdContainer .headerCart{
    width: 694px;
    margin-left: 601px;
}